<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/templates/css/Connexion/ForgetPassword.css">
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
<h1>Réinitialisation du mot de passe</h1>
<form action="/password" method="post">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="new_password">Nouveau mot de passe :</label>
    <input type="password" id="new_password" name="new_password" required>
    <br>
    <label for="token">Token :</label>
    <input type="text" id="token" name="token" required>
    <br>
    <input type="submit" value="Réinitialiser le mot de passe">
</form>
</body>
</html>
